/*Old Code*/
header{
    height: 100vh;
    max-width: 1024vw;
    background-size: cover;
    background-position: center;
}
.navbar-brand,
.nav-link {
    font-family: 'Abril Fatface';
}
.navbar-nav .nav-link {
    font-size: 16px;
}
.container{
    background-size: cover;
    
}

/*Video-Background - Pexels*/
.back-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height:auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

body {
    background-color:white;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color:#E5E5CB;
}
.tagline {
    font-size: 32px;
    font-style: italic;
    margin-bottom: 50px;
    text-align: center;
    color:#E5E5CB
}
.section {
    background-color: #E5E5CB;
    border: 2px solid #4A4A4A;
    margin-bottom: 50px;
    padding: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.section h2 {
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: -22px;
    left: 50px;
    padding: 0 10px;
    background-color: #F4C2C2;
    color:black;
    text-transform: uppercase;
}
.section .content {
    margin-left: 150px;
    padding-left: 50px;
    position: relative;
}
.section .content:before {
    content: "";
    height: 200px;
    width: 150px;
    background-image: url(../images/portraits/m4.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 20px;
    left: -170px;
}

@media (max-width: 767px) {
    .section {
        padding: 80px;
    }
    .section h2 {
        font-size: 24px;
        top: -16px;
    }
    .section .content {
        margin-left: 50px;
    }
}

