header{
    height: 100vh;
    max-width: 1024vw;
    background-size: cover;
    background-position: center;
}
.navbar-brand,
.nav-link {
    font-family: 'Abril Fatface';
}
.container{
    background-size: cover;
}

/*Video-Background - Pexels*/
.back-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height:auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


/*Home page - Animated Text | header area*/

.text-box{
    color:#F9F5E7;
    position: absolute;
    bottom: 10%;
    background-size: cover;
}
.text-box p{
    font-size: 50px;
    font-weight: 600; 
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #F9F5E7;
    background:url(../images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0; 
    }
}

.text-box h3{
    font-size: 40px;
    font-weight: 500; 
}
